# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

### Business Understanding

 **The questions of interest for the Starbucks dataset are as follows:**

* Which demographic groups respond best to which offer type?
* Which demographic groups will make purchases even if they don't receive an offer?
* Which demographic groups spends the most amount?
* Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
* Build a model that predicts whether or not someone will respond to an offer.

### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import math
import json
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
% matplotlib inline

# read in the json files
portfolio = pd.read_json('../data/dataset/portfolio.json', orient='records', lines=True)
profile = pd.read_json('../data/dataset/profile.json', orient='records', lines=True)
transcript = pd.read_json('../data/dataset/transcript.json', orient='records', lines=True)

In [2]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [3]:
# Check shape
portfolio.shape

(10, 6)

In [4]:
# Check for null values
portfolio.isna().sum()

channels      0
difficulty    0
duration      0
id            0
offer_type    0
reward        0
dtype: int64

In [5]:
# Unique offers
list(portfolio['offer_type'].unique())

[u'bogo', u'informational', u'discount']

In [6]:
# Min, Max and Median
portfolio.describe()

       difficulty   duration     reward
count   10.000000  10.000000  10.000000
mean     7.700000   6.500000   4.200000
std      5.831905   2.321398   3.583915
min      0.000000   3.000000   0.000000
25%      5.000000   5.000000   2.000000
50%      8.500000   7.000000   4.000000
75%     10.000000   7.000000   5.000000
max     20.000000  10.000000  10.000000

In [7]:
# Top offer type
portfolio['offer_type'].describe()

count       10
unique       3
top       bogo
freq         4
Name: offer_type, dtype: object

In [8]:
# Cleaning Channels

def channel_1(x):
    
    try:
        value = x[0]
        
        return value
    
    except:
       
        return float("NAN") 
    
    
def channel_2(x):
    
    try:
        value = x[1]
        
        return value
    
    except:
       
        return float("NAN")
        
def channel_3(x):
    
    try:
        value = x[2]
        
        return value
    
    except:
       
        return float("NAN") 
    
    
def channel_4(x):
    
    try:
        value = x[3]
        
        return value
    
    except:
       
        return float("NAN")     
    

portfolio['channel_1'] = portfolio['channels'].apply(channel_1)
portfolio['channel_2'] = portfolio['channels'].apply(channel_2)
portfolio['channel_3'] = portfolio['channels'].apply(channel_3)
portfolio['channel_4'] = portfolio['channels'].apply(channel_4)

In [9]:
portfolio

,channels,difficulty,duration,id,offer_type,reward,channel_1,channel_2,channel_3,channel_4
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2,web,email,mobile,NaN

In [10]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [11]:
# Check shape
profile.shape

(17000, 5)

In [12]:
# Check for null values
profile.isna().sum()

age                    0
became_member_on       0
gender              2175
id                     0
income              2175
dtype: int64

In [13]:
# Min, Max and Median
profile.describe()

                age  became_member_on         income
count  17000.000000      1.700000e+04   14825.000000
mean      62.531412      2.016703e+07   65404.991568
std       26.738580      1.167750e+04   21598.299410
min       18.000000      2.013073e+07   30000.000000
25%       45.000000      2.016053e+07   49000.000000
50%       58.000000      2.017080e+07   64000.000000
75%       73.000000      2.017123e+07   80000.000000
max      118.000000      2.018073e+07  120000.000000

In [14]:
# Top gender
profile['gender'].describe()

count     14825
unique        3
top           M
freq       8484
Name: gender, dtype: object

In [15]:
# Unique id
len(list(profile['id'].unique()))

17000

In [16]:
# Unique gender
list(profile['gender'].unique())

[None, u'F', u'M', u'O']

In [17]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{u'offer id': u'9b98b8c7a33c4b65b9aebfe6a799e6...
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{u'offer id': u'0b1e1539f2cc45b7b9fa7c272da2e1...
2,offer received,e2127556f4f64592b11af22de27a7932,0,{u'offer id': u'2906b810c7d4411798c6938adc9daa...
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{u'offer id': u'fafdcd668e3743c1bb461111dcafc2...
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{u'offer id': u'4d5c57ea9a6940dd891ad53e9dbe8d...

In [18]:
# Check shape
transcript.shape

(306534, 4)

In [19]:
# Check for null values
transcript.isna().sum()

event     0
person    0
time      0
value     0
dtype: int64

In [20]:
# Min, Max and Median
transcript.describe()

                time
count  306534.000000
mean      366.382940
std       200.326314
min         0.000000
25%       186.000000
50%       408.000000
75%       528.000000
max       714.000000

In [21]:
# Top event
transcript['event'].describe()

count          306534
unique              4
top       transaction
freq           138953
Name: event, dtype: object

In [22]:
# Unique event
list(transcript['event'].unique())

[u'offer received', u'offer viewed', u'transaction', u'offer completed']

In [23]:
# Unique person
len(list(transcript['person'].unique()))

17000

In [24]:
# Cleaning value
def offer(x):
    try:
       
        value =  x['offer id']
        
        return value
        
    except:
        
        try: 
            
            value =  x['offer_id']
        
            return value
        
        except:
            
            return float("NAN")
  
    
def amount(x):
    try:
       
        value =  x['amount']
        
        return value
        
    except:
        
        return float("NAN")

In [25]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{u'offer id': u'9b98b8c7a33c4b65b9aebfe6a799e6...
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{u'offer id': u'0b1e1539f2cc45b7b9fa7c272da2e1...
2,offer received,e2127556f4f64592b11af22de27a7932,0,{u'offer id': u'2906b810c7d4411798c6938adc9daa...
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{u'offer id': u'fafdcd668e3743c1bb461111dcafc2...
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{u'offer id': u'4d5c57ea9a6940dd891ad53e9dbe8d...

### Data Understanding

Now we have the question, we need to move the question into the data. Find the columns from the datasets that would answer these questions.

**The columns identified to answer the necessary questions are as below:**


* Which demographic groups respond best to which offer type?
 -  age, gender, became_member_on, income, offer type
 
* Which demographic groups will make purchases even if they don't receive an offer?
 -  age, offer id, gender, became_member_on, income, amount, person  

* Which demographic groups spends the most amount?
 -  age, offer id, gender, became_member_on, income, amount, person  
 
* Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
 - difficulty, duration, reward, age, income, amount, year, month, offer_type, channel_1, channel_2, channel_3,         channel_4, gender 
 
* Build a model that predicts whether or not someone will respond to an offer.
 -

### Data Preparation

In [26]:
portfolio.head()

,channels,difficulty,duration,id,offer_type,reward,channel_1,channel_2,channel_3,channel_4
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN

In [27]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [28]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{u'offer id': u'9b98b8c7a33c4b65b9aebfe6a799e6...
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{u'offer id': u'0b1e1539f2cc45b7b9fa7c272da2e1...
2,offer received,e2127556f4f64592b11af22de27a7932,0,{u'offer id': u'2906b810c7d4411798c6938adc9daa...
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{u'offer id': u'fafdcd668e3743c1bb461111dcafc2...
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{u'offer id': u'4d5c57ea9a6940dd891ad53e9dbe8d...

In [29]:
def clean_data(profile, portfolio, transcript, offer, amount):
    """
    Function to clean the data

    INPUT:
    profile - (pandas dataframe) profile as defined at the top of the notebook
    portfolio - (pandas dataframe) portfolio as defined at the top of the notebook
    transcript - (pandas dataframe) transcript as defined at the top of the notebook

    OUTPUT:
    offer_type_df - merged dataframe containing columns offer id, offer type, age,
                    became_member_on, gender, person, income
    amount_df - merged dataframe containing columns event, amount, age,
                became_member_on, gender, person, income

    """
    
    # Converting None to NAN
    transcript['offer id'] = transcript['value'].apply(offer)
    transcript['amount'] = transcript['value'].apply(amount)
    
    # Rename column 'id' to 'person'
    profile = profile.rename(columns={'id': 'person'})
    
    # Rename column 'id' to 'offer id'
    portfolio = portfolio.rename(columns={'id': 'offer id'})
    
    # Merge dataframes proflie and transcript
    merged_df = profile.merge(transcript, how='right', on='person')
    
    # Drop Nan values in column 'Gender', 'Income'
    merged_df = merged_df.dropna(subset=['income'])
    
    # Drop column 'value'
    merged_df.drop(columns=['value'], inplace=True)
    
    # Create offer dataframe - offer_df
    offer_df = merged_df.dropna(subset=['offer id'])
    
    # Drop column 'amount' from offer_df dataframe
    offer_df.drop(columns=['amount'], inplace=True)
    
    # Merge dataframes portfolio and offer_df, map columns 'offer id' to 'offer type'
    offer_type_df = portfolio.merge(offer_df, how='right', on='offer id')
    
    # Create amount dataframe - amount_df
    amount_df = merged_df.dropna(subset=['amount'])
    
    # Drop column 'offer id'
    amount_df.drop(columns=['offer id'], inplace=True)
    
    return offer_type_df, amount_df
    
    
offer_type_df, amount_df = clean_data(profile, portfolio, transcript, offer, amount)

/home/jyothish/.local/lib/python2.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [30]:
# Which demographic groups respond best to which offer type
# Which demographic groups will make purchases even if they don't receive an offer
# Which demographic groups spends the most amount?
# Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
# Build a model that predicts whether or not someone will respond to an offer

### Statistical Analysis

* Which demographic groups respond best to which offer type?

In [31]:
# Demographic groups and offer
#-----------------------------

In [32]:
# Filter by gender as 'M' and age as '35'

# List of persons who has viewed at least an offer
#persons_viewed_offer = list(offer_type_df['person'][offer_type_df['event'] == 'offer viewed'].unique())

# List of persons who has completed at least an offer
#persons_completed_offer = list(offer_type_df['person'][offer_type_df['event'] == 'offer completed'].unique())

# Intersection of lists
#intersection_list = list(set(persons_viewed_offer) & set(persons_completed_offer))

# Filter rows with the intersection list
#offer_type_df = offer_type_df[offer_type_df['person'].isin(intersection_list)]

# Filter by offer viewed
offer_type_viewed_df = offer_type_df[offer_type_df['event'] == 'offer viewed'] 

# Filter by offer completed
offer_type_completed_df = offer_type_df[offer_type_df['event'] == 'offer completed'] 

# Select obly columns 'person' and 'time' from the dataframe offer_type_completed_df
offer_type_completed_df = offer_type_completed_df[['person','time']]

In [33]:
#offer_type_df = offer_type_df[offer_type_df['person'].isin(intersection_list)]

In [34]:
#offer_type_viewed_df = offer_type_df[offer_type_df['event'] =='offer viewed']

In [35]:
#offer_type_completed_df = offer_type_df[offer_type_df['event'] =='offer completed']

In [36]:
#offer_type_completed_df = offer_type_completed_df[['person','time']]

In [37]:
offer_type_viewed_df.shape

(49860, 17)

In [38]:
merged_offer = offer_type_viewed_df.merge(offer_type_completed_df, how='inner', on=['person','time'])

In [39]:
merged_offer = merged_offer.sort_values(by=['time'])

In [40]:
merged_offer.head()

,channels,difficulty,duration,offer id,offer_type,reward,channel_1,channel_2,channel_3,channel_4,age,became_member_on,gender,person,income,event,time
921,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,55,20151208,M,83d2641895054948946aa6e898b85632,85000.0,offer viewed,0
2034,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social,59,20150829,F,37f7b59a483e4201bf5fc0d99978622f,55000.0,offer viewed,0
681,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,29,20161021,F,bf5783772fee4f2ab126f07bf3be80f1,60000.0,offer viewed,0
680,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,94,20160618,M,906e0eeff3bc43d79e3686adf7232594,117000.0,offer viewed,0
2712,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,37,20160401,M,9096694eb31b4b9fb9c12fa9c626d028,45000.0,offer viewed,0

In [41]:
df_gender_age = merged_offer[(merged_offer['gender'] == 'M') | (offer_type_df['age'] == 35)]

/home/jyothish/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [42]:
df_gender_age

,channels,difficulty,duration,offer id,offer_type,reward,channel_1,channel_2,channel_3,channel_4,age,became_member_on,gender,person,income,event,time
921,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,55,20151208,M,83d2641895054948946aa6e898b85632,85000.0,offer viewed,0
680,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,94,20160618,M,906e0eeff3bc43d79e3686adf7232594,117000.0,offer viewed,0
2712,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,37,20160401,M,9096694eb31b4b9fb9c12fa9c626d028,45000.0,offer viewed,0
2037,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social,74,20161220,M,53879247fce049dd9e8d55da657fe9a1,70000.0,offer viewed,0
1003,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,31,20160606,M,329a9b32e7e0475cb2643125919c4d90,46000.0,offer viewed,0
674,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,49,20161121,M,1f99f39237164b17a8b6848f4ce881c3,47000.0,offer viewed,0
1059,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,57,20160109,M,b34eb5a525e5497897275dcd8b5e7ff2,64000.0,offer viewed,0
3001,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2,web,email,mobile,NaN,44,20150821,M,41486bbaab7a49e2afc05d2b48d3b00f,75000.0,offer viewed,0
142,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,66,20180421,M,292117548f3e4adebb5b5f896e479f13,46000.0,offer viewed,0
1590,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,58,20160402,M,f8e1a46daab849268feecf21ba67ae50,79000.0,offer viewed,0
664,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,41,20170831,M,11edb6a7da284f19a8a1da5e7c0c9652,94000.0,offer viewed,0
2838,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,51,20170308,M,a6af69d4f60e49adb49022aba7a6392b,85000.0,offer viewed,0
649,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,57,20160930,M,aea3357bef1c44a180ae8e217df12fa0,30000.0,offer viewed,0
687,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,55,20161221,M,7c6e3fb8f20a444b949c6d94ace44f02,73000.0,offer viewed,0
389,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,51,20180512,M,227f2d69e46a4899b70d48182822cff6,100000.0,offer viewed,0
765,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,54,20180321,M,b10f5a1006c249dca0faa1c4cbb54322,59000.0,offer viewed,0
1838,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social,38,20151016,M,3b78a727167b432d8e1935227b286def,68000.0,offer viewed,0
1841,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social,74,20160310,M,6d11a027be6c4fac98d27eec516ad2f6,106000.0,offer viewed,0
818,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,66,20161020,M,2c107d718e614961ae18c8ef2af37b03,84000.0,offer viewed,0
723,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,63,20161213,M,0ff55591a7c54f74b0c125c9ba18590d,50000.0,offer viewed,0
1441,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,34,20170205,M,42f0d273d2914b0192bd37a37888df36,48000.0,offer viewed,0
2774,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,57,20160628,M,640052628384401ea425fba9441a8d2f,72000.0,offer viewed,0
2208,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social,64,20160709,M,a5b13a923611434dadcb9e000abbd361,75000.0,offer viewed,0
847,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,52,20180605,M,629fc02d56414d91bca360decdfa9288,72000.0,offer viewed,0
388,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,48,20150903,M,8f7dd3b2afe14c078eb4f6e6fe4ba97d,62000.0,offer viewed,0
1740,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,32,20171129,M,d3cddb41ae3b43edaa67777501c32e45,70000.0,offer viewed,0
885,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,44,20150522,M,08d06b602c844926a037b0b253901d52,84000.0,offer viewed,0
700,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,58,20170720,M,12adf13711144814b9dabf37838edb47,104000.0,offer viewed,0
1753,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,88,20160402,M,ae11c6794bcd4afbb6207e7f6722d93d,68000.0,offer viewed,0
575,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,73,20170626,M,33834c812b4e47e4955093ad03f6117a,49000.0,offer viewed,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,60,20151114,M,5922ee9b83594cc6931c06952d5a2ee6,118000.0,offer viewed,624
134,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,38,20180403,M,fdea2f3817d74cd9a4b2ce819e62c824,89000.0,offer viewed,624
135,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,38,20180403,M,fdea2f3817d74cd9a4b2ce819e62c824,89000.0,offer viewed,624
1448,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,39,20160928,M,33e4e9352ea04b559e0d0a210642ecb3,73000.0,offer viewed,624
1504,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,55,20170406,M,65754f3b7ac94c1b8309e22162bb5c17,86000.0,offer viewed,624
1253,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN,64,20170331,M,787aa7b9aba44503b587ad158bd80627,79000.0,offer viewed,624
1708,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,57,20140816,M,36bac1cacf514f7db5f090015a289a4d,87000.0,offer viewed,624
88,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,37,20160803,M,cfdecbfe6add44598f60aed46e1f1e79,60000.0,offer viewed,624
2661,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,43,20171007,M,e786192a3e204c128d9f57a3394faa80,72000.0,offer viewed,624
1334,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,77,20171213,M,4f6aa13b967c4bd9821588923c49bee3,86000.0,offer viewed,624
87,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,37,20160803,M,cfdecbfe6add44598f60aed46e1f1e79,60000.0,offer viewed,624
1115,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,65,20160116,M,55bca2d11db84ccbaffec703025f80f2,74000.0,offer viewed,630
873,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,74,20160310,M,6d11a027be6c4fac98d27eec516ad2f6,106000.0,offer viewed,630
920,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,83,20151106,M,87d77223236342d5983c7d7c5e598ef6,63000.0,offer viewed,630
461,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social,66,20171110,M,6e24cb5465134c8a8f46d9f6fa1bc1fe,40000.0,offer viewed,636
1709,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,51,20140807,M,cced1422fef84ad7b1cbeedbd96b28aa,63000.0,offer viewed,636
2617,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,22,20180615,M,17056c2cfb384ba1aae130fe0044fe79,68000.0,offer viewed,642
1280,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,53,20150906,M,c0f9e4bb1f3a4d30a34f5a835b2c97ea,95000.0,offer viewed,642
1401,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,58,20180104,M,c76409fa00c74284bd50255c3b50d82f,80000.0,offer viewed,642
1370,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social,54,20170201,M,6effdc34e55b400b8866ba32067bdf9d,109000.0,offer viewed,642
3078,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2,web,email,mobile,NaN,45,20140609,M,7d47f3a573e34dadb223d70389da903f,94000.0,offer viewed,648
1213,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN,58,20160307,M,f1c3358fb6894c7eaacd3915f65da066,87000.0,offer viewed,648
290,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,26,20160619,M,8ed64cd9600948b89eb41be4de183788,66000.0,offer viewed,660
1132,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,51,20170421,M,50e5377100774af28329fc40966a98c0,70000.0,offer viewed,666
1131,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,51,20170421,M,50e5377100774af28329fc40966a98c0,70000.0,offer viewed,666
181,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,83,20170101,M,3ab94c67c9324d37aaf478e61c028438,76000.0,offer viewed,672
1038,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,59,20170604,M,b694ab6e982a4734be5bb6e0e7ec6e25,70000.0,offer viewed,678
2835,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social,46,20180207,M,09c957e5a4ac4c339b25fe08b12cd921,32000.0,offer viewed,678
1121,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN,75,20170726,M,a2eadf0236d54377bda77db37051fc77,68000.0,offer viewed,678
282,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,55,20140920,M,d9e5e0c806da46268f0a1905c6e212c2,65000.0,offer viewed,690

In [43]:
df_gender_age['offer_type'].value_counts(normalize=True) * 100

bogo             54.606142
discount         42.456609
informational     2.937250
Name: offer_type, dtype: float64

In [44]:
# 42.6 %

In [45]:
# Age

group_offer_age_df = offer_type_df.groupby(['age'])['offer_type'].describe()

In [46]:
group_offer_age_df.sort_values(by=['top'])

    count unique       top  freq
age
18    668      3      bogo   290
54   3593      3      bogo  1543
55   3628      3      bogo  1556
57   3708      3      bogo  1600
100   126      3      bogo    60
61   3127      3      bogo  1358
62   3260      3      bogo  1414
63   3493      3      bogo  1574
66   2832      3      bogo  1226
69   2490      3      bogo  1057
70   2558      3      bogo  1097
71   2300      3      bogo  1030
72   1908      3      bogo   821
73   2118      3      bogo   956
76   1550      3      bogo   677
77   1438      3      bogo   623
79   1135      3      bogo   489
80   1247      3      bogo   565
98     39      3      bogo    17
97    136      3      bogo    61
95    210      3      bogo    99
94    359      3      bogo   166
93    301      3      bogo   126
92    433      3      bogo   189
53   3788      3      bogo  1686
91    454      3      bogo   217
88    650      3      bogo   280
87    659      3      bogo   297
86    568      3      bogo   263
85    741      3      bogo   316
..    ...    ...       ...   ...
43   2171      3      bogo   932
96     88      3  discount    41
21   1292      3  discount   540
22   1199      3  discount   525
56   3506      3  discount  1526
58   4227      3  discount  1847
99     64      3  discount    30
24   1330      3  discount   583
25   1262      3  discount   534
26   1497      3  discount   643
89    540      3  discount   247
47   2278      3  discount   963
28   1331      3  discount   569
67   3165      3  discount  1362
84    849      3  discount   388
31   1053      3  discount   480
82   1040      3  discount   453
60   3423      3  discount  1441
33   1338      3  discount   571
34   1446      3  discount   618
78   1371      3  discount   590
75   1608      3  discount   703
74   1961      3  discount   865
37   1881      3  discount   827
38   1768      3  discount   749
39   1872      3  discount   802
64   3210      3  discount  1468
68   2664      3  discount  1228
65   2845      3  discount  1204
101    51      3  discount    33

[84 rows x 4 columns]

In [47]:
# Gender

group_offer_gender_df = offer_type_df.groupby(['gender'])['offer_type'].describe()

In [48]:
group_offer_gender_df.sort_values(by=['top'])

        count unique       top   freq
gender
F       63719      3      bogo  27619
M       82896      3      bogo  35301
O        2190      3  discount    920

In [49]:
# Became_member_on

group_offer_became_member_on_df = offer_type_df.groupby(['became_member_on'])['offer_type'].describe()

In [50]:
group_offer_became_member_on_df.sort_values(by=['top'])

                 count unique            top freq
became_member_on
20160325           130      3           bogo   59
20160826            87      3           bogo   37
20160825           109      3           bogo   58
20160823            46      3           bogo   23
20160822            20      3           bogo    9
20160820            80      3           bogo   38
20160818            57      3           bogo   36
20160830            65      3           bogo   34
20160814            93      3           bogo   46
20160810           129      3           bogo   54
20160806           149      3           bogo   69
20160805           109      3           bogo   59
20160803            78      3           bogo   49
20160730            68      3           bogo   32
20160729           128      3           bogo   52
20160813           135      3           bogo   60
20160831            97      3           bogo   45
20160901            47      3           bogo   20
20160904            79      3           bogo   34
20161002           125      3           bogo   56
20161001            59      3           bogo   28
20160930            94      3           bogo   60
20160928           137      3           bogo   73
20160927            65      3           bogo   30
20160926           101      3           bogo   38
20160924           112      3           bogo   56
20160922            72      3           bogo   27
20160919           117      3           bogo   56
20160918            48      3           bogo   23
20160915            63      3           bogo   33
...                ...    ...            ...  ...
20140105             9      3  informational    4
20150320            10      2  informational    9
20160120            43      3  informational   16
20150310             9      2  informational    6
20140621             5      3  informational    3
20131102            17      3  informational    8
20150618            15      3  informational    6
20140813            12      3  informational    6
20131222             9      2  informational    6
20140822            13      3  informational    6
20140419            41      3  informational   17
20131129             3      2  informational    2
20140810            32      3  informational   12
20151025            60      3  informational   21
20150508            23      3  informational    9
20150514            32      3  informational   12
20141101             7      2  informational    4
20140731            19      3  informational    8
20140901             8      3  informational    4
20130930            14      3  informational    9
20150521            26      3  informational   10
20150407            11      2  informational    6
20131003            16      3  informational    8
20140914            13      3  informational    6
20140915             2      1  informational    2
20131009             7      2  informational    5
20150603             8      2  informational    5
20140518            19      3  informational    9
20131016             4      1  informational    4
20150720            10      3  informational    6

[1707 rows x 4 columns]

In [51]:
# Income

group_offer_income_df = offer_type_df.groupby(['income'])['offer_type'].describe()

In [52]:
group_offer_income_df.sort_values(by=['top'])

         count unique       top  freq
income
30000.0    778      3      bogo   354
67000.0   2431      3      bogo  1070
70000.0   2722      3      bogo  1189
71000.0   2998      3      bogo  1304
73000.0   3234      3      bogo  1496
78000.0   1676      3      bogo   736
81000.0   1570      3      bogo   672
83000.0   1366      3      bogo   608
84000.0   1557      3      bogo   718
85000.0   1611      3      bogo   712
87000.0   1672      3      bogo   803
88000.0   1599      3      bogo   705
91000.0   1172      3      bogo   518
92000.0   1428      3      bogo   638
65000.0   2460      3      bogo  1026
93000.0   1406      3      bogo   611
95000.0   1340      3      bogo   608
97000.0   1329      3      bogo   628
100000.0   941      3      bogo   444
101000.0   474      3      bogo   215
104000.0   566      3      bogo   283
109000.0   624      3      bogo   286
111000.0   602      3      bogo   303
112000.0   444      3      bogo   197
113000.0   550      3      bogo   275
114000.0   537      3      bogo   267
115000.0   528      3      bogo   234
116000.0   455      3      bogo   213
118000.0   621      3      bogo   278
94000.0   1099      3      bogo   489
...        ...    ...       ...   ...
108000.0   575      3  discount   253
110000.0   610      3  discount   274
102000.0   471      3  discount   224
68000.0   2356      3  discount  1022
36000.0   1747      3  discount   785
66000.0   2274      3  discount   975
64000.0   2572      3  discount  1107
117000.0   348      3  discount   154
69000.0   2008      3  discount   866
40000.0   1839      3  discount   784
41000.0   1817      3  discount   752
99000.0   1352      3  discount   595
82000.0   1364      3  discount   647
52000.0   2865      3  discount  1205
51000.0   2686      3  discount  1179
77000.0   1656      3  discount   772
86000.0   1389      3  discount   631
76000.0   1677      3  discount   744
119000.0   536      3  discount   228
79000.0   1745      3  discount   759
89000.0   1499      3  discount   691
74000.0   2792      3  discount  1187
55000.0   2669      3  discount  1154
72000.0   3110      3  discount  1371
44000.0   1643      3  discount   704
96000.0   1423      3  discount   631
42000.0   1614      3  discount   706
98000.0   1219      3  discount   543
90000.0   1236      3  discount   546
62000.0   2269      3  discount   973

[91 rows x 4 columns]

* Which demographic groups will make purchases even if they don't receive an offer?

In [ ]:
def purchase_without_offer(offer_type_df, amount_df):
    """
    Function to find the demographic groups that will make purchases even if they don't receive an offer

    INPUT:
    offer_type_df - (pandas dataframe) offer_type_df returned by function clean_data
    amount_df - (pandas dataframe) amount_df returned by function clean_data

    OUTPUT:
    match_df - (pandas dataframe) dataframe which contains demographic groups that will
                make purchases even if they don't receive an offer

    """

    persons_viewed_offer = list(offer_type_df['person'][offer_type_df['event'] == 'offer viewed'].unique())
    
    persons_completed_offer = list(offer_type_df['person'][offer_type_df['event'] == 'offer completed'].unique())
    
    intersection_list = list(set(persons_viewed_offer) & set(persons_completed_offer))

    match_df = amount_df[amount_df['age'] == 144]

    for person in intersection_list:

        match_df = pd.concat([match_df, amount_df[amount_df['person'].isin([person])]])
    
    
    return match_df


match_df = purchase_without_offer(offer_type_df, amount_df)

In [ ]:
# Build a machine learning model that predicts how much someone will spend based on demographics and offer type.

match_df.head()

In [ ]:
offer_type_df.head()

In [ ]:
# Find difference of dataframes

diff_df = amount_df[~amount_df.apply(tuple,1).isin(match_df.apply(tuple,1))]

In [ ]:
# The demographic groups that will make purchases even if they don't receive an offer

diff_df.head()

In [ ]:
diff_df.shape

In [ ]:
# make barchart

* Which demographic groups spends the most amount?

In [ ]:
# Make demographic groups with amount

In [ ]:
amount_age_df = amount_df.groupby(['age'])['amount'].sum().to_frame()

In [ ]:
# Top 10 age which spends the most amount

amount_age_df = amount_age_df.sort_values(by=['amount'], ascending=False)

amount_age_df.head(10)

In [ ]:
amount_gender_df = amount_df.groupby(['gender'])['amount'].sum().to_frame()

In [ ]:
# Top gender which spends the most amount

amount_gender_df = amount_gender_df.sort_values(by=['amount'], ascending=False)

amount_gender_df.head()

In [ ]:
amount_became_member_on_df = amount_df.groupby(['became_member_on'])['amount'].sum().to_frame()

In [ ]:
# Top 10 became_member_on which spends the most amount

amount_became_member_on_df = amount_became_member_on_df.sort_values(by=['amount'], ascending=False)

amount_became_member_on_df.head(10)

In [ ]:
amount_income_df = amount_df.groupby(['income'])['amount'].sum().to_frame()

In [ ]:
# Top 10 income which spends the most amount

amount_income_df = amount_income_df.sort_values(by=['amount'], ascending=False)

amount_income_df.head(10)

### Modelling and Evaluation

* Build a machine learning model that predicts how much someone will spend based on demographics and offer type.

In [ ]:
# Prepare data for training the model

In [ ]:
def generate_features(portfolio, transcript, amount_df):
    """
    Function to generate features for training the model

    INPUT:
    portfolio - (pandas dataframe) portfolio as defined at the top of the notebook
    transcript - (pandas dataframe) transcript as defined at the top of the notebook
    amount_df - (pandas dataframe) amount_df returned by function clean_data

    OUTPUT:
    df_offer_type_amount - (pandas dataframe) dataframe which contains the features for training the model

    """
    
    # Find duplicated rows based on duplicted time
    duplicated_df = transcript[transcript.duplicated(subset=['time'])]

    # Get rows with event as 'offer completed'
    df_offer_completed = duplicated_df[duplicated_df['event'] == 'offer completed']

    # Drop column amount
    df_offer_completed.drop(columns=['amount', 'event'], inplace=True)
    
    # Merge dataframes amount_df and df_offer_completed, map columns 'amount' to 'offer id'
    df_offer_amount = amount_df.merge(df_offer_completed, how='right', on=['person','time'])

    # Rename column 'id' to 'offer id'
    portfolio = portfolio.rename(columns={'id': 'offer id'})

    # Merge dataframes portfolio and df_offer_amount, map columns 'offer id' to 'offer type'
    df_offer_type_amount = portfolio.merge(df_offer_amount, how='right', on='offer id')
    
    # Drop unnecessary columns
    df_offer_type_amount.drop(columns=['offer id', 'channels', 'person', 'event', 'time', 'value'], inplace=True)
    
    # Generate year and month from column became_member_on 
    df_became_member_on = pd.to_datetime(df_offer_type_amount['became_member_on'], format='%Y%m%d', errors='ignore').to_frame()
    df_offer_type_amount['year'] = pd.DatetimeIndex(df_became_member_on['became_member_on']).year
    df_offer_type_amount['month'] = pd.DatetimeIndex(df_became_member_on['became_member_on']).month
    
    # Drop column became_member_on
    df_offer_type_amount.drop(columns=['became_member_on'], inplace=True)
    
    return df_offer_type_amount


df_offer_type_amount = generate_features(portfolio, transcript, amount_df)

In [ ]:
"""Predict how much someone will spend based on demographics and offer type"""

In [ ]:
# Drop rows for which there were no amount match found
df_offer_type_amount = df_offer_type_amount.dropna(subset=['age'])

In [ ]:
# check for Nan values

df_offer_type_amount.isna().sum()

In [ ]:
# numeric cols- difficulty, duration, reward, age, income, amount, year, month

df_offer_type_amount_numeric =  df_offer_type_amount[['reward', 'age', 'income', 'amount', 'year']]

#categoric cols- , offer_type, channel_1, channel_2, channel_3, channel_4, gender

df_offer_type_amount_categoric =  df_offer_type_amount[['offer_type', 'gender']]

In [ ]:
df_offer_type_amount_categoric.isna().sum()

In [ ]:
# corelation matrix(Seattle) for numeric type

corrMatrix =  df_offer_type_amount_numeric.corr()
sn.heatmap(corrMatrix, annot=True)
plt.show()

In [ ]:
def create_dummy_df(num_df, cat_df, dummy_na):
    """
    Function to create dummy variables for categorical data

    INPUT:
    num_df - pandas dataframe with numerical variables
    cat_df - pandas dataframe with categorical variables
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not


    OUTPUT:
    num_df - a new dataframe that has the following characteristics:
            1. dummy columns for each of the categorical columns in cat_df
            2. if dummy_na is True - it also contains dummy columns for the NaN values
            3. Use a prefix of the column name with an underscore (_) for separating
    """
            
    cat_df = pd.get_dummies(cat_df, dummy_na=dummy_na)    
    
    num_df = pd.concat([num_df, cat_df], axis=1)

    return num_df

In [ ]:
concat_df = create_dummy_df(df_offer_type_amount_numeric, df_offer_type_amount_categoric, dummy_na=False)

In [ ]:
concat_df

In [ ]:
def fit_linear_mod(concat_df, test_size=.3, rand_state=42):
    '''
    INPUT:
    concat_df - a dataframe holding all the variables of interest
    test_size - a float between [0,1] about what proportion of data should
                be in the test dataset
    rand_state - an int that is provided as the random state for splitting 
                 the data into training and test 
    
    OUTPUT:
    test_score - float - r2 score on the test data
    train_score - float - r2 score on the test data
    lm_model - model object from sklearn
    X_train, X_test, y_train, y_test - output from sklearn train test split used for optimal model
    '''
    
    X = concat_df.drop('amount', axis=1)
    y = concat_df['amount']

    #Split into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size,
                                                        random_state=rand_state) 

    lm_model = LinearRegression(normalize=True) # Instantiate

    lm_model.fit(X_train, y_train) #Fit

    #Predict and score the model
    y_train_preds = lm_model.predict(X_train) 
    y_test_preds = lm_model.predict(X_test) 

    train_score = r2_score(y_train, y_train_preds)
    test_score = r2_score(y_test, y_test_preds) 
    
    return test_score, train_score, lm_model, X_train, X_test, y_train, y_test

#Test your function with the above dataset
test_score, train_score, lm_model, X_train, X_test, y_train, y_test = fit_linear_mod(concat_df)

In [ ]:
#Print training and testing score
print("The rsquared on the training data was {}.  The rsquared on the test data was {}.".\
      format(train_score, test_score))

In [ ]:
# Build a model that predicts whether or not someone will respond to an offer.