# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

### Business Understanding

 **The questions of interest for the Starbucks dataset are as follows:**

* Which demographic groups respond best to which offer type?
* Which demographic groups will make purchases even if they don't receive an offer?
* Which demographic groups spends the most amount?
* Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
* Build a model that predicts whether or not someone will respond to an offer.

### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
portfolio.head()

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5

In [3]:
# Check shape
portfolio.shape

(10, 6)

In [4]:
# Check for null values
portfolio.isna().sum()

channels      0
difficulty    0
duration      0
id            0
offer_type    0
reward        0
dtype: int64

In [5]:
# Unique offers
list(portfolio['offer_type'].unique())

['bogo', 'informational', 'discount']

In [6]:
# Min, Max and Median
portfolio.describe()

       difficulty   duration     reward
count   10.000000  10.000000  10.000000
mean     7.700000   6.500000   4.200000
std      5.831905   2.321398   3.583915
min      0.000000   3.000000   0.000000
25%      5.000000   5.000000   2.000000
50%      8.500000   7.000000   4.000000
75%     10.000000   7.000000   5.000000
max     20.000000  10.000000  10.000000

In [7]:
# Top offer type
portfolio['offer_type'].describe()

count           10
unique           3
top       discount
freq             4
Name: offer_type, dtype: object

In [8]:
# Cleaning Channels

def channel_1(x):
    
    try:
        value = x[0]
        
        return value
    
    except:
       
        return float("NAN") 
    
    
def channel_2(x):
    
    try:
        value = x[1]
        
        return value
    
    except:
       
        return float("NAN")
        
def channel_3(x):
    
    try:
        value = x[2]
        
        return value
    
    except:
       
        return float("NAN") 
    
    
def channel_4(x):
    
    try:
        value = x[3]
        
        return value
    
    except:
       
        return float("NAN")     
    

portfolio['channel_1'] = portfolio['channels'].apply(channel_1)
portfolio['channel_2'] = portfolio['channels'].apply(channel_2)
portfolio['channel_3'] = portfolio['channels'].apply(channel_3)
portfolio['channel_4'] = portfolio['channels'].apply(channel_4)

In [9]:
portfolio

,channels,difficulty,duration,id,offer_type,reward,channel_1,channel_2,channel_3,channel_4
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,web,email,mobile,social
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,web,email,mobile,social
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,web,email,mobile,social
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2,web,email,mobile,NaN

In [10]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [11]:
# Check shape
profile.shape

(17000, 5)

In [12]:
# Check for null values
profile.isna().sum()

age                    0
became_member_on       0
gender              2175
id                     0
income              2175
dtype: int64

In [13]:
# Min, Max and Median
profile.describe()

                age  became_member_on         income
count  17000.000000      1.700000e+04   14825.000000
mean      62.531412      2.016703e+07   65404.991568
std       26.738580      1.167750e+04   21598.299410
min       18.000000      2.013073e+07   30000.000000
25%       45.000000      2.016053e+07   49000.000000
50%       58.000000      2.017080e+07   64000.000000
75%       73.000000      2.017123e+07   80000.000000
max      118.000000      2.018073e+07  120000.000000

In [14]:
# Top gender
profile['gender'].describe()

count     14825
unique        3
top           M
freq       8484
Name: gender, dtype: object

In [15]:
# Unique id
len(list(profile['id'].unique()))

17000

In [16]:
# Unique gender
list(profile['gender'].unique())

[None, 'F', 'M', 'O']

In [17]:
transcript

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89}
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48}
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19}
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31}
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37}
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92}
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73}
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2}
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6}
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2}
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7}
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67}
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13}
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001}
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35}
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42}
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35}
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14}
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58}
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64}
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2}
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999}
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53}
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61}
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002}
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05}

In [18]:
# Check shape
transcript.shape

(306534, 4)

In [19]:
# Check for null values
transcript.isna().sum()

event     0
person    0
time      0
value     0
dtype: int64

In [20]:
# Min, Max and Median
transcript.describe()

                time
count  306534.000000
mean      366.382940
std       200.326314
min         0.000000
25%       186.000000
50%       408.000000
75%       528.000000
max       714.000000

In [21]:
# Top event
transcript['event'].describe()

count          306534
unique              4
top       transaction
freq           138953
Name: event, dtype: object

In [22]:
# Unique event
list(transcript['event'].unique())

['offer received', 'offer viewed', 'transaction', 'offer completed']

In [23]:
# Unique person
len(list(transcript['person'].unique()))

17000

In [24]:
# Cleaning value
def offer(x):
    try:
       
        value =  x['offer id']
        
        return value
        
    except:
        
        try: 
            
            value =  x['offer_id']
        
            return value
        
        except:
            
            return float("NAN")
  
    
def amount(x):
    try:
       
        value =  x['amount']
        
        return value
        
    except:
        
        return float("NAN")     

transcript['offer id'] = transcript['value'].apply(offer)
transcript['amount'] = transcript['value'].apply(amount)

In [25]:
transcript

,event,person,time,value,offer id,amount
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},f19421c1d4aa40978ebb69ca19b0e20d,NaN
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'},3f207df678b143eea3cee63160fa8bed,NaN
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'},3f207df678b143eea3cee63160fa8bed,NaN
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},f19421c1d4aa40978ebb69ca19b0e20d,NaN
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
...,...,...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89},NaN,4.89
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48},NaN,4.48
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19},NaN,1.19
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31},NaN,14.31
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37},NaN,2.37
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92},NaN,6.92
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73},NaN,12.73
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2},NaN,8.20
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6},NaN,2.60
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2},NaN,9.20
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7},NaN,11.70
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67},NaN,40.67
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13},NaN,31.13
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001},NaN,1.64
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35},NaN,17.35
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42},NaN,4.42
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35},NaN,18.35
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14},NaN,25.14
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58},NaN,43.58
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64},NaN,22.64
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2},NaN,2.20
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999},NaN,1.59
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53},NaN,9.53
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61},NaN,3.61
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002},NaN,3.53
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05},NaN,4.05

### Data Understanding

Now we have the question, we need to move the question into the data. Find the columns from the datasets that would answer these questions.

**The columns identified to answer the necessary questions are as below:**


* Which demographic groups respond best to which offer type?
 -  age, gender, became_member_on, income, offer type
 
* Which demographic groups will make purchases even if they don't receive an offer?
 -  age, offer id, gender, became_member_on, income, amount, person  

* Which demographic groups spends the most amount?
 -  age, offer id, gender, became_member_on, income, amount, person  
 
* Assess what a certain demographic group will buy when not receiving any offers.
 -   
 
* Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
 -   
 
* Build a model that predicts whether or not someone will respond to an offer.
 -

### Data Preparation

In [26]:
portfolio.head()
# create dummy for channels with NaN

,channels,difficulty,duration,id,offer_type,reward,channel_1,channel_2,channel_3,channel_4
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,web,email,mobile,social
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,web,email,mobile,NaN
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,web,email,NaN,NaN

In [27]:
# Rename column id to person

profile = profile.rename(columns={'id': 'person'})

In [28]:
profile.head()

   age  became_member_on gender                            person    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [29]:
profile.shape

(17000, 5)

In [30]:
len(list(profile['person'].unique()))

17000

In [31]:
transcript

,event,person,time,value,offer id,amount
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},f19421c1d4aa40978ebb69ca19b0e20d,NaN
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'},3f207df678b143eea3cee63160fa8bed,NaN
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'},3f207df678b143eea3cee63160fa8bed,NaN
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},f19421c1d4aa40978ebb69ca19b0e20d,NaN
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},ae264e3637204a6fb9bb56bc8210ddfd,NaN
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},fafdcd668e3743c1bb461111dcafc2a4,NaN
...,...,...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89},NaN,4.89
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48},NaN,4.48
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19},NaN,1.19
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31},NaN,14.31
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37},NaN,2.37
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92},NaN,6.92
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73},NaN,12.73
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2},NaN,8.20
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6},NaN,2.60
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2},NaN,9.20
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7},NaN,11.70
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67},NaN,40.67
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13},NaN,31.13
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001},NaN,1.64
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35},NaN,17.35
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42},NaN,4.42
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35},NaN,18.35
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14},NaN,25.14
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58},NaN,43.58
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64},NaN,22.64
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,fafdcd668e3743c1bb461111dcafc2a4,NaN
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2},NaN,2.20
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999},NaN,1.59
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53},NaN,9.53
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61},NaN,3.61
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002},NaN,3.53
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05},NaN,4.05

In [32]:
transcript.shape

(306534, 6)

In [33]:
transcript['event'].unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'], dtype=object)

In [34]:
len(list(transcript['person'].unique()))

17000

In [35]:
# def clean_data():

In [36]:
# Merge proflie and transcript

merged_df = profile.merge(transcript, how='right', on='person')

In [37]:
merged_df.shape

(306534, 10)

In [38]:
merged_df.head()

,age,became_member_on,gender,person,income,event,time,value,offer id,amount
0,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,offer received,168,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
1,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,offer viewed,216,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},2906b810c7d4411798c6938adc9daaa5,NaN
2,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,offer received,336,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
3,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,offer viewed,348,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
4,118,20170212,None,68be06ca386d4c31939f3a4f0e3dd783,NaN,transaction,360,{'amount': 0.35000000000000003},NaN,0.35

In [39]:
merged_df.dtypes

age                   int64
became_member_on      int64
gender               object
person               object
income              float64
event                object
time                  int64
value                object
offer id             object
amount              float64
dtype: object

In [40]:
# Drop Nan values in column Income
merged_df = merged_df.dropna(subset=['income'])

In [41]:
# Drop column value
merged_df.drop(columns=['value'], inplace=True)

In [42]:
merged_df.isna().sum()

age                      0
became_member_on         0
gender                   0
person                   0
income                   0
event                    0
time                     0
offer id            123957
amount              148805
dtype: int64

In [43]:
# Which demographic groups respond best to which offer type
# Which demographic groups will make purchases even if they don't receive an offer
# Which demographic groups spends the most amount?
# Build a machine learning model that predicts how much someone will spend based on demographics and offer type.
# Build a model that predicts whether or not someone will respond to an offer

In [44]:
# Offer dataframe

offer_df = merged_df.dropna(subset=['offer id'])

In [45]:
offer_df.head()

,age,became_member_on,gender,person,income,event,time,offer id,amount
23,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer received,408,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
24,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer received,504,3f207df678b143eea3cee63160fa8bed,NaN
26,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer completed,528,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
37,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
38,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer viewed,6,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN

In [46]:
# Rename column id

portfolio = portfolio.rename(columns={'id': 'offer id'})

In [47]:
# Merge offer_type_df and offer_df, map offer id to offer type

offer_type_df = portfolio.merge(offer_df, how='right', on='offer id')

In [48]:
offer_type_df.head()

,channels,difficulty,duration,offer id,offer_type,reward,channel_1,channel_2,channel_3,channel_4,age,became_member_on,gender,person,income,event,time,amount
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer received,408,NaN
1,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer viewed,408,NaN
2,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer completed,510,NaN
3,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,61,20170911,F,aa4862eba776480b8bb9c68455b8c2e1,57000.0,offer received,408,NaN
4,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,email,mobile,social,NaN,61,20170911,F,aa4862eba776480b8bb9c68455b8c2e1,57000.0,offer completed,426,NaN

In [49]:
offer_type_df[offer_type_df['offer_type'] == 'informational']

,channels,difficulty,duration,offer id,offer_type,reward,channel_1,channel_2,channel_3,channel_4,age,became_member_on,gender,person,income,event,time,amount
32473,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer received,504,NaN
32474,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,68,20180426,M,e2127556f4f64592b11af22de27a7932,70000.0,offer received,336,NaN
32475,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,58,20171111,M,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,offer received,0,NaN
32476,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,57,20171231,M,6445de3b47274c759400cd68131d91b4,42000.0,offer received,576,NaN
32477,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,64,20170909,M,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,offer received,408,NaN
32478,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,64,20170909,M,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,offer viewed,468,NaN
32479,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0,offer received,0,NaN
32480,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0,offer viewed,18,NaN
32481,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0,offer received,336,NaN
32482,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0,offer viewed,348,NaN
32483,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,42,20130811,M,f806632c011441378d4646567f357a21,69000.0,offer received,576,NaN
32484,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,42,20130811,M,f806632c011441378d4646567f357a21,69000.0,offer viewed,600,NaN
32485,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,46,20170911,F,7429a044884842d6862f516c38b1156f,59000.0,offer received,168,NaN
32486,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,22,20170925,M,1e9420836d554513ab90eba98552d0a9,70000.0,offer received,504,NaN
32487,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,22,20170925,M,1e9420836d554513ab90eba98552d0a9,70000.0,offer viewed,534,NaN
32488,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,69,20160814,F,102e9454054946fda62242d2e176fdce,57000.0,offer received,168,NaN
32489,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,69,20160814,F,102e9454054946fda62242d2e176fdce,57000.0,offer viewed,180,NaN
32490,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,45,20180707,M,c0d210398dee4a0895b24444a5fcd1d2,33000.0,offer received,504,NaN
32491,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,45,20180707,M,c0d210398dee4a0895b24444a5fcd1d2,33000.0,offer viewed,522,NaN
32492,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,54,20170207,F,57dd18ec5ddc46828afb81ec5977bef2,80000.0,offer received,408,NaN
32493,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,54,20170207,F,57dd18ec5ddc46828afb81ec5977bef2,80000.0,offer viewed,468,NaN
32494,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,39,20140527,M,be8a5d1981a2458d90b255ddc7e0d174,51000.0,offer received,504,NaN
32495,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,offer received,336,NaN
32496,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,76,20180314,F,ab66a363907e43e9a7cd535f1578245b,47000.0,offer received,0,NaN
32497,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,61,20171110,F,fb98ebe9e3e14afaa5b5db182b00b7ec,112000.0,offer received,504,NaN
32498,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,61,20171110,F,fb98ebe9e3e14afaa5b5db182b00b7ec,112000.0,offer viewed,582,NaN
32499,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,46,20180629,F,e528ceb341964128aaf58a59733ec2af,36000.0,offer received,408,NaN
32500,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,46,20180629,F,e528ceb341964128aaf58a59733ec2af,36000.0,offer received,504,NaN
32501,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,59,20170820,M,0b73997a269247088b2a63355f53ee58,89000.0,offer received,576,NaN
32502,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0,web,email,mobile,NaN,59,20170820,M,0b73997a269247088b2a63355f53ee58,89000.0,offer viewed,696,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117784,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,66,20180101,M,b3a1272bc9904337b331bf348c3e8c17,47000.0,offer viewed,504,NaN
117785,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,25,20151020,M,82212ba0e8a74861bf1e20cd6f2e41ba,45000.0,offer received,504,NaN
117786,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,25,20151020,M,82212ba0e8a74861bf1e20cd6f2e41ba,45000.0,offer viewed,522,NaN
117787,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,57,20180524,F,1fc56d7bf27d4d3888625d67fb2ea306,55000.0,offer received,0,NaN
117788,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,57,20180524,F,1fc56d7bf27d4d3888625d67fb2ea306,55000.0,offer viewed,30,NaN
117789,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,54,20150626,M,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,offer received,408,NaN
117790,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,44,20170119,F,e2fd53ed790240c586b3188f23542cca,51000.0,offer received,168,NaN
117791,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,44,20170119,F,e2fd53ed790240c586b3188f23542cca,51000.0,offer viewed,216,NaN
117792,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,30,20151012,M,08eb126ad33f447ca3ad076482445c05,57000.0,offer received,408,NaN
117793,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,30,20151012,M,08eb126ad33f447ca3ad076482445c05,57000.0,offer viewed,450,NaN
117794,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,59,20160113,F,f88e91a11d8f405b9a47ad3741415b83,71000.0,offer received,0,NaN
117795,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,59,20160113,F,f88e91a11d8f405b9a47ad3741415b83,71000.0,offer viewed,108,NaN
117796,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,39,20160921,F,122c0c2a3c2540848f8c3fdc37e97639,54000.0,offer received,408,NaN
117797,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,39,20160921,F,122c0c2a3c2540848f8c3fdc37e97639,54000.0,offer viewed,414,NaN
117798,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,84,20160629,M,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,offer received,0,NaN
117799,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,84,20160629,M,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,offer viewed,18,NaN
117800,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,offer received,336,NaN
117801,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,75,20160716,F,392d23b2c958493197f647bedfe4f418,78000.0,offer received,336,NaN
117802,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,offer received,168,NaN
117803,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,offer viewed,192,NaN
117804,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,offer received,408,NaN
117805,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,offer viewed,426,NaN
117806,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,57,20160709,M,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,offer received,408,NaN
117807,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,57,20160709,M,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,offer viewed,444,NaN
117808,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,offer received,408,NaN
117809,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,offer viewed,462,NaN
117810,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,61,20180713,M,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,offer received,0,NaN
117811,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,61,20180713,M,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,offer viewed,42,NaN
117812,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,offer received,336,NaN
117813,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,email,mobile,social,NaN,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,offer viewed,396,NaN

In [50]:
# Amount dataframe

amount_df = merged_df.dropna(subset=['amount'])

In [51]:
amount_df.head()

,age,became_member_on,gender,person,income,event,time,offer id,amount
21,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,18,NaN,21.51
22,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,144,NaN,32.28
25,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,528,NaN,23.22
39,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,transaction,132,NaN,19.89
41,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,transaction,144,NaN,17.78

### Statistical Analysis

* Which demographic groups respond best to which offer type?

In [52]:
# Make demographic groups with offer

group_offer_age_df = offer_type_df.groupby(['age'])['offer_type'].describe()

In [53]:
group_offer_age_df.head()

    count unique       top freq
age
18    668      3      bogo  290
19   1225      3      bogo  540
20   1213      3      bogo  572
21   1292      3  discount  540
22   1199      3  discount  525

In [54]:
# Total offer type, age

group_offer_age_df.groupby(['top'])['freq'].sum()

top
bogo        43033
discount    21956
Name: freq, dtype: int64

In [55]:
# The demographic group age responds best to bogo offer type

In [56]:
group_offer_gender_df = offer_type_df.groupby(['gender'])['offer_type'].describe()

In [57]:
group_offer_gender_df.head()

        count unique       top   freq
gender
F       63719      3      bogo  27619
M       82896      3      bogo  35301
O        2190      3  discount    920

In [58]:
# Total offer type, gender

group_offer_gender_df.groupby(['top'])['freq'].sum()

top
bogo        62920
discount      920
Name: freq, dtype: int64

In [59]:
# The demographic group gender responds best to bogo offer type

In [60]:
group_offer_became_member_on_df = offer_type_df.groupby(['became_member_on'])['offer_type'].describe()

In [61]:
group_offer_became_member_on_df.head()

                 count unique       top freq
became_member_on
20130729            15      2  discount    9
20130730            24      3      bogo    9
20130731             8      2      bogo    5
20130801            12      1      bogo   12
20130802            21      3  discount   12

In [62]:
# Total offer type, became_member_on

group_offer_became_member_on_df.groupby(['top'])['freq'].sum()

top
bogo             37491
discount         33951
informational      333
Name: freq, dtype: int64

In [63]:
# The demographic group became_member_on responds best to bogo offer type

In [64]:
group_offer_income_df = offer_type_df.groupby(['income'])['offer_type'].describe()

In [65]:
group_offer_income_df.head()

        count unique   top freq
income
30000.0   778      3  bogo  354
31000.0  2028      3  bogo  892
32000.0  2069      3  bogo  919
33000.0  1980      3  bogo  827
34000.0  1801      3  bogo  767

In [66]:
# Total offer type, income

group_offer_income_df.groupby(['top'])['freq'].sum()

top
bogo        40037
discount    25455
Name: freq, dtype: int64

In [67]:
# The demographic group income responds best to bogo offer type

* Which demographic groups will make purchases even if they don't receive an offer?

In [68]:
# Make demographic groups with amount

amount_df.head()

,age,became_member_on,gender,person,income,event,time,offer id,amount
21,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,18,NaN,21.51
22,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,144,NaN,32.28
25,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,transaction,528,NaN,23.22
39,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,transaction,132,NaN,19.89
41,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,transaction,144,NaN,17.78

In [69]:
amount_age_df = amount_df.groupby(['age'])['amount'].sum().to_frame()

In [86]:
offer_df.head()

,age,became_member_on,gender,person,income,event,time,offer id,amount
23,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer received,408,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
24,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer received,504,3f207df678b143eea3cee63160fa8bed,NaN
26,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0,offer completed,528,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
37,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
38,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,offer viewed,6,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN

In [87]:

persons_recieved_offer = list(offer_df['person'][offer_df['event'] == 'offer completed'].unique())

df_match = amount_df[amount_df['age'] == 144]

for person in persons_recieved_offer:
    
    df_match = pd.concat([df_match, amount_df[amount_df['person'].isin([person])]])

In [88]:
amount_df.shape

(123957, 9)

In [89]:
df_match.shape

(110494, 9)

In [90]:
# Find difference of dataframes

diff_df = amount_df[~amount_df.apply(tuple,1).isin(df_match.apply(tuple,1))]

In [91]:
diff_df.shape

(13463, 9)

In [92]:
# The demographic groups that will make purchases even if they don't receive an offer

diff_df

,age,became_member_on,gender,person,income,event,time,offer id,amount
282,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,66,NaN,1.31
283,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,216,NaN,0.52
284,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,222,NaN,10.07
286,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,420,NaN,3.14
288,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,492,NaN,2.79
289,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,516,NaN,0.84
290,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0,transaction,546,NaN,2.11
462,46,20170911,F,7429a044884842d6862f516c38b1156f,59000.0,transaction,492,NaN,2.88
713,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,0,NaN,0.83
714,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,6,NaN,1.44
715,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,12,NaN,4.56
716,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,84,NaN,1.53
717,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,90,NaN,0.50
718,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,102,NaN,9.80
719,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,132,NaN,4.10
720,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,144,NaN,2.73
721,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,198,NaN,1.22
723,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0,transaction,420,NaN,3.18
1059,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,84,NaN,2.51
1061,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,300,NaN,4.59
1063,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,396,NaN,6.58
1067,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,552,NaN,0.30
1069,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,570,NaN,0.87
1070,45,20171006,M,186d6403f5824c739555b732f4af3f16,48000.0,transaction,594,NaN,2.15
1235,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,54,NaN,3.63
1237,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,330,NaN,1.75
1239,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,366,NaN,1.16
1240,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,372,NaN,1.04
1242,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,390,NaN,1.85
1245,77,20160730,M,d8af520c4a8a4c77b921098d7d838c4d,51000.0,transaction,468,NaN,5.94
...,...,...,...,...,...,...,...,...,...
306280,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,transaction,480,NaN,2.43
306282,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,transaction,576,NaN,4.78
306283,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,transaction,624,NaN,0.29
306284,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,transaction,666,NaN,4.27
306285,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0,transaction,690,NaN,2.43
306307,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,transaction,144,NaN,2.63
306309,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,transaction,180,NaN,6.23
306315,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,transaction,516,NaN,1.58
306317,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,transaction,702,NaN,4.39
306423,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,0,NaN,4.31
306425,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,240,NaN,6.31
306426,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,252,NaN,1.40
306428,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,480,NaN,0.56
306433,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,612,NaN,2.46
306434,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0,transaction,690,NaN,2.83
306460,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,60,NaN,3.92
306461,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,84,NaN,2.67
306462,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,192,NaN,2.97
306463,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,246,NaN,1.18
306464,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,324,NaN,2.53
306471,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,642,NaN,3.06
306472,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,transaction,690,NaN,3.70
306487,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,204,NaN,3.30
306489,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,372,NaN,7.58
306490,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,378,NaN,8.26
306492,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,396,NaN,5.93
306493,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,402,NaN,1.74
306494,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,480,NaN,2.16
306495,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,576,NaN,6.61
306496,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0,transaction,672,NaN,4.16

* Which demographic groups spends the most amount?

In [76]:
# Top 10 age which spends the most amount

amount_age_df = amount_age_df.sort_values(by=['amount'], ascending=False)

amount_age_df.head(10)

       amount
age
58   56201.03
53   50985.19
55   49928.62
57   48138.62
59   43947.55
54   43417.10
67   42483.99
51   42257.66
63   41243.36
62   41142.34

In [77]:
amount_gender_df = amount_df.groupby(['gender'])['amount'].sum().to_frame()

In [78]:
# Top gender which spends the most amount

amount_gender_df = amount_gender_df.sort_values(by=['amount'], ascending=False)

amount_gender_df.head()

           amount
gender
F       863695.00
M       844890.86
O        26356.54

In [79]:
amount_became_member_on_df = amount_df.groupby(['became_member_on'])['amount'].sum().to_frame()

In [80]:
# Top 10 became_member_on which spends the most amount

amount_became_member_on_df = amount_became_member_on_df.sort_values(by=['amount'], ascending=False)

amount_became_member_on_df.head(10)

                   amount
became_member_on
20171114          4950.71
20170815          4556.10
20170924          4038.07
20171007          3990.83
20171207          3826.20
20161111          3694.93
20170202          3681.06
20170807          3673.41
20171212          3492.65
20180125          3487.09

In [81]:
amount_income_df = amount_df.groupby(['income'])['amount'].sum().to_frame()

In [82]:
# Top 10 income which spends the most amount

amount_income_df = amount_income_df.sort_values(by=['amount'], ascending=False)

amount_income_df.head(10)

           amount
income
73000.0  41677.94
72000.0  39436.83
71000.0  37808.33
74000.0  35315.08
70000.0  33107.45
75000.0  32037.00
64000.0  31644.61
67000.0  27831.57
61000.0  27827.53
65000.0  27449.45

In [83]:
# Assess what a certain demographic group will buy when not receiving any offers.

In [84]:
# Build a machine learning model that predicts how much someone will spend based on demographics and offer type.

In [85]:
# Build a model that predicts whether or not someone will respond to an offer.